storage/go-carbon/whisper/*
!storage/go-carbon/whisper/.gitkeep
storage/go-carbon/dump/*
!storage/go-carbon/dump/.gitkeep
storage/graphite-web/*
!storage/graphite-web/.gitkeep
storage/graphite-web/log/*
!storage/graphite-web/log/.gitkeep
storage/grafana/*
!storage/grafana/.gitkeep
